*.sublime-project
*.sublime-workspace
*.wpr
*.wpu
*.pyc
.coverage
.coveralls.yml
test.py
/.vscode/
.pytest_cache/
.idea/
arcade.egg-info/
arcade/__pycache__/
build/
doc/build/
dist/
pylint.html
venv/
